.actionbar .counter{
  background-color: #ff7043;
  border-radius: 50%;
  color: #FFF;
  position: absolute;
  display: block;
  bottom: 7px;
  font-size: 13px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  left: 50%;
  transform: translateX(-90%);
}
