.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
  color: #FAFAFA;
  background-color: initial;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover{
  color: #5482ab;
  background-color: initial;
}

.navbar-default .navbar-nav>.active>a:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #5482ab;
  display: block;
  bottom: 0;
  left: 0;
}
