$base-bg: #71c6c1;
$base-color: #fafafa;
$active-color: #5482ab;

.actionbar{
  position: fixed;
  bottom: 0;
  background-color: $base-bg;

  & .nav{
    width: 100vw;

    &>li {
      width: calc(100vw/5);
      display: inline-block;

      & svg{
        fill: $base-color;
        height: 25px;
      }

      &.active{

        & svg{
          fill: $active-color;
        }

        &:after{
          content: '';
          position: absolute;
          width: 100%;
          height: 3px;
          background-color: $active-color;
          display: block;
          bottom: 0px;
          left: 0px;
        }

        &>a {
          color: $active-color;

          &:focus, &:hover {
            color: $active-color;
          }
        }
      }

      &>a {
        color: $base-color;
        text-align: center;

        &:focus, &:hover {
          background-color: initial;
          color: $base-color;
        }
      }

    }
  }
}
