.login label {
  display: block;
  @extend %clearfix;
}

$facebook-color: #3949ab;
$instagram-color: #6d4c41;


.login-image-area{
  padding: 20%;
}

.login-logo{
  max-width: 120px;
}

.login-icon{
  fill: #FFF;
  height: 20px;
  float: left;
}

.btn.login{

  &-facebook{
    background-color: $facebook-color;
    color: #FFF;
    border-radius: 0;
    border: 0;


    &:hover{
      background-color: opacify($facebook-color, 0.8);
    }
  }

  &-instagram {
    background-color: $instagram-color;
    color: #FFF;
    border-radius: 0;
    border: 0;

    &:hover{
      background-color: opacify($instagram-color, 0.8);
    }
  }
}
