$base-bg: #71c6c1;
$base-color: #fafafa;
$active-color: #5482ab;


#navbar.navbar-default{
  border-radius: 0;
  background-color: $base-bg;
  border-color: $base-bg;
  color: $base-color;
  box-shadow: 0px 5px 5px 0px rgba(189,189,189,0.75);

  & .navbar-brand{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #FFF;
    font-size: 14px;
  }

  & .navbar-toggle{
    border: none;

    & .icon-bar{
      background-color: #FFF;
    }
  }
}
